In [1]:
pip install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [3]:
# Creating Session
spark= SparkSession.builder \
      .appName('PySparkTutorial')\
      .getOrCreate()

# checking type
type(spark)

pyspark.sql.session.SparkSession

In [4]:
# Creating rdd
data=[1,2,3,4,5]
rdd = spark.sparkContext.parallelize(data)

type(rdd)

pyspark.rdd.RDD

In [5]:
# Tranforming rdd and adding 1 to each
rdd_transformed = rdd.map(lambda x:x+1)

collected_data=rdd_transformed.collect()

# Displaying Original & Transformed data
orignal_data=rdd.collect()
print(orignal_data,collected_data)

[1, 2, 3, 4, 5] [2, 3, 4, 5, 6]

In [6]:
# filter
rdd_filtered = rdd.filter(lambda x: x % 2 == 0)

# Count
count_orignal = rdd.count()
count_filtered = rdd_filtered.count()

# First Element
first_element= rdd.first()

#Result
print(count_orignal,count_filtered,first_element)

5 2 1

In [7]:
# Creating  an RDd
data=[1,2,3,4,5]
rdd =spark.sparkContext.parallelize(data)

#sqare Tranormation
rdd_squared = rdd.map(lambda x:x**2)

#Collecting & Displaying Orignal and transformed rdd
orignal_data = rdd.collect()
squared_data = rdd_squared.collect()
print(orignal_data,squared_data)

[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]

In [8]:
# Applying Filter Transformation
rdd_even = rdd.filter(lambda x: x % 2 == 0)

#Diaplayig Filtered Rdd
even_data = rdd_even.collect()
print(orignal_data,even_data)

[1, 2, 3, 4, 5] [2, 4]

In [9]:
# Creating an RDD
sentences = ['hello world', 'I Love Pyspark', "i love computers",'I love Coding']
rdd_sentence = spark.sparkContext.parallelize(sentences)

# Flatmap transformaation
rdd_words = rdd_sentence.flatMap(lambda  x: x.split(' '))

#Results
origanl_senetence = rdd_sentence.collect()
words = rdd_words.collect()
print(origanl_senetence,words)

['hello world', 'I Love Pyspark', 'i love computers', 'I love Coding'] ['hello', 'world', 'I', 'Love', 'Pyspark', 'i', 'love', 'computers', 'I', 'love', 'Coding']

In [10]:
# Creating Two Rdds
rdd1 =spark.sparkContext.parallelize([1,2,3,4,5])
rdd2 =spark.sparkContext.parallelize([4,5,6,7,8])

# Applying union
rdd_union = rdd1.union(rdd2)

#collecting Results
data_rdd1 = rdd1.collect()
data_rdd2 = rdd2.collect()
union_data = rdd_union.collect()
print(data_rdd1,data_rdd2,union_data)

[1, 2, 3, 4, 5] [4, 5, 6, 7, 8] [1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [11]:
# Creating an RDD with duplicates
rdd_with_duplicates = spark.sparkContext.parallelize([1,2,3,1,2,3,4,5,6,6,5,4])

# Appling distinct Transformation
rdd_distinct = rdd_with_duplicates.distinct()

#Results
Data_with_duplicates = rdd_with_duplicates.collect()
Data_with_distinct = rdd_distinct.collect()
print(Data_with_duplicates,Data_with_distinct)

[1, 2, 3, 1, 2, 3, 4, 5, 6, 6, 5, 4] [2, 4, 6, 1, 3, 5]

In [12]:
# Creating an RDD
rdd= spark.sparkContext.parallelize([1,2,3,4,5])

# Appling reduce transformation
sum_result = rdd.reduce(lambda x,y: x+y)

# Results
orignal_data = rdd.collect()
print(orignal_data,sum_result)

[1, 2, 3, 4, 5] 15

In [13]:
# Creating an Rdd
rdd = spark.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,10])

#Transformation
rdd_transformed = rdd.filter(lambda x:x % 2 == 0).map(lambda x:x**2 == 0)

# Results
collected_data = rdd_transformed.collect()
print(collected_data)

[False, False, False, False, False]

In [14]:
# Creating an Rdd
rdd = spark.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,10])

# Transformation
rdd_filtered = rdd.filter(lambda x:x % 2 == 0)

# Appling count and filtered
orignal_count = rdd.count()
orignal_filtered = rdd_filtered.count()

# Results
print(orignal_count,orignal_filtered)

10 5

In [15]:
# Creating an RDD
rdd = spark.sparkContext.parallelize([10,20,30,40,50])

#Applying First Action
first_element = rdd.first()

#Results
first_element

10

In [16]:
# Creating an RDD
rdd = spark.sparkContext.parallelize([10,20,30,40,50,60,70,80,90,100])

#Retriving first 3 Elements
first_n_element = rdd.take(3)

#Results
first_n_element

[10, 20, 30]

In [17]:
# Creating an RDD
rdd = spark.sparkContext.parallelize([1,2,3,4,5])

# Applying square
rdd_squared = rdd.map(lambda x:x**2 == 0)

#Results
orignal_data = rdd.collect()
squared_data = rdd_squared.collect()
print(orignal_data,squared_data)

[1, 2, 3, 4, 5] [False, False, False, False, False]

In [18]:
# Creating an RDD
rdd = spark.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,10])

# Applying filtere to get even numbers
rdd_even =rdd.filter(lambda x:x % 2 == 0)

#Results
orignal_data = rdd.collect()
even_data = rdd_even.collect()
print(orignal_data,even_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [2, 4, 6, 8, 10]

In [19]:
# Creating an RDD
rdd = spark.sparkContext.parallelize([1,2,3])

# Applying Flatmap
rdd_flatmapped = rdd.flatMap(lambda x: (x,x*100))

# Results
orignal_data = rdd.collect()
flatmapped_data = rdd_flatmapped.collect()
print(orignal_data,flatmapped_data)

[1, 2, 3] [1, 100, 2, 200, 3, 300]

In [20]:
# Creating an RDD
rdd = spark.sparkContext.parallelize([('a',1),('b',2),('c',3),('d',4),('e',5)])

#Applying groupby key transformation
rdd_grouped = rdd.groupByKey()

# Results
orignal_data = rdd.collect()
grouped_data = [(k, list(v)) for k ,v in rdd_grouped.collect()]
print(orignal_data,grouped_data)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)] [('b', [2]), ('c', [3]), ('d', [4]), ('a', [1]), ('e', [5])]

In [21]:
# Creating an RDD
rdd = spark.sparkContext.parallelize([('a',1),('b',2),('c',3),('d',4),('e',5)])

# Applying reduceby key
rdd_reduced = rdd.reduceByKey(lambda x,y : x+y)

# Results
orignal_data = rdd.collect()
reduced_data = rdd_reduced.collect()
print(orignal_data,reduced_data)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)] [('b', 2), ('c', 3), ('d', 4), ('a', 1), ('e', 5)]

# Restarting

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType

spark = SparkSession.builder.appName('IntegerTypeExamples').getOrCreate()
# Creating a DataFrame with integer type
data = [(10,), (15,), (20,), (25,), (30,)]
schema = ['Age']
df = spark.createDataFrame(data, schema=schema)
df.show()

+---+
|Age|
+---+
| 10|
| 15|
| 20|
| 25|
| 30|
+---+

In [23]:
# Exercise # 1

# Data of Family Memebers
family_ages = [(35,),(40,),(20,),(12,)]

# Creating DF
family_df = spark.createDataFrame(family_ages, schema=['age'])
family_df.show()

+---+
|age|
+---+
| 35|
| 40|
| 20|
| 12|
+---+

In [24]:
from pyspark.sql.types import StructType, StructField, StringType
# Data of family members' names and ages
family_data = [('Alice', 35), ('Bob', 40), ('Charlie', 10), ('Diana', 12)]
# Defining the schema
family_schema = StructType([
StructField('Name', StringType(), True),
StructField('Age', IntegerType(), True)
])
# Creating a DataFrame
family_df = spark.createDataFrame(family_data, schema=family_schema)
# Displaying the DataFrame
family_df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 35|
|    Bob| 40|
|Charlie| 10|
|  Diana| 12|
+-------+---+

In [25]:
# Exercise
filtered_family_df = family_df.filter(family_df['Age']>20)
filtered_family_df.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 35|
|  Bob| 40|
+-----+---+

In [26]:
from pyspark.sql.types import FloatType
# Data of plants and the amount of water they need
plants_data = [('Rose', 1.5), ('Tulip', 2.75), ('Daisy', 1.25), ('Sunflower',4.45)]
# Defining the schema
plants_schema = StructType([
StructField('Plant', StringType(), True),
StructField('Water_Needed', FloatType(), True)
])

#Creating DataFrame
plants_df = spark.createDataFrame(plants_data, schema=plants_schema)
plants_df.show()

+---------+------------+
|    Plant|Water_Needed|
+---------+------------+
|     Rose|         1.5|
|    Tulip|        2.75|
|    Daisy|        1.25|
|Sunflower|        4.45|
+---------+------------+

In [27]:
# Exercise # 1: More Plants

#Adding more plants
more_plants_data = [('Liliy',2.5),('Orchid',3.5),('Voilet',5.4),('Jasmine',8.9)]

# Adding to Dataframe
more_plants_df = spark.createDataFrame(more_plants_data,schema=plants_schema)
all_plants_df = plants_df.union(more_plants_df)

#Diaplaying updated Dataframe
all_plants_df.show()

+---------+------------+
|    Plant|Water_Needed|
+---------+------------+
|     Rose|         1.5|
|    Tulip|        2.75|
|    Daisy|        1.25|
|Sunflower|        4.45|
|    Liliy|         2.5|
|   Orchid|         3.5|
|   Voilet|         5.4|
|  Jasmine|         8.9|
+---------+------------+

In [28]:
# Exercise # 2
thirsty_plants_df = all_plants_df.filter(all_plants_df['Water_Needed']>2)
thirsty_plants_df.show()

+---------+------------+
|    Plant|Water_Needed|
+---------+------------+
|    Tulip|        2.75|
|Sunflower|        4.45|
|    Liliy|         2.5|
|   Orchid|         3.5|
|   Voilet|         5.4|
|  Jasmine|         8.9|
+---------+------------+

In [29]:
# Exercise # 3
sorted_plants_df = all_plants_df.sort(all_plants_df['Water_Needed'].desc())
sorted_plants_df.show()

+---------+------------+
|    Plant|Water_Needed|
+---------+------------+
|  Jasmine|         8.9|
|   Voilet|         5.4|
|Sunflower|        4.45|
|   Orchid|         3.5|
|    Tulip|        2.75|
|    Liliy|         2.5|
|     Rose|         1.5|
|    Daisy|        1.25|
+---------+------------+

In [30]:
from IPython.core.interactiveshell import Struct
from pyspark.sql.types import IntegerType

# Data of guest& gifts
party_data = [('Alice',3),('Bob',5),('Charlie',2),('Diana',1)]

#Defining Schema
party_schema=StructType([
    StructField('Guest',StringType(),True),
    StructField('Gifts',IntegerType(),True)
])

party_df=  spark.createDataFrame(party_data,party_schema)
party_df.show()

+-------+-----+
|  Guest|Gifts|
+-------+-----+
|  Alice|    3|
|    Bob|    5|
|Charlie|    2|
|  Diana|    1|
+-------+-----+

In [31]:
# Exercise # 1
more_guests_data = [('Eva',4),('Frank',3),('Grace',2),('Henry',5)]

# Ading to Dataframe
more_guests_df = spark.createDataFrame(more_guests_data,schema= party_schema)
all_guests_df = party_df.union(more_guests_df)
all_guests_df.show()

+-------+-----+
|  Guest|Gifts|
+-------+-----+
|  Alice|    3|
|    Bob|    5|
|Charlie|    2|
|  Diana|    1|
|    Eva|    4|
|  Frank|    3|
|  Grace|    2|
|  Henry|    5|
+-------+-----+

In [32]:
generous_guest_df = all_guests_df.filter(all_guests_df['Gifts']>2)
generous_guest_df.show()

+-----+-----+
|Guest|Gifts|
+-----+-----+
|Alice|    3|
|  Bob|    5|
|  Eva|    4|
|Frank|    3|
|Henry|    5|
+-----+-----+

In [33]:
sorted_guests_df=all_guests_df.sort(all_guests_df['Gifts'])
sorted_guests_df.show()

+-------+-----+
|  Guest|Gifts|
+-------+-----+
|  Diana|    1|
|  Grace|    2|
|Charlie|    2|
|  Frank|    3|
|  Alice|    3|
|    Eva|    4|
|  Henry|    5|
|    Bob|    5|
+-------+-----+

In [34]:
from pyspark.sql.types import StringType

# Books Data
books_data =[('To Kill a MockingBird','Harper lee'),('1984','George owell')]

# Defining Schema
books_schema = StructType([
    StructField('Title',StringType(),True),
    StructField('Author',StringType(),True)
])


# creating dataframe
books_df = spark.createDataFrame(books_data,schema=books_schema)
books_df.show()

+--------------------+------------+
|               Title|      Author|
+--------------------+------------+
|To Kill a Mocking...|  Harper lee|
|                1984|George owell|
+--------------------+------------+

In [35]:
# Exercise # 1

# Adding more Books
more_books_data =[('the books','john'),('The Ride', 'joseph')]

# Addding to dataframe
more_books_df = spark.createDataFrame(more_books_data,schema=books_schema)
all_books_df = books_df.union(more_books_df)

all_books_df.show()

+--------------------+------------+
|               Title|      Author|
+--------------------+------------+
|To Kill a Mocking...|  Harper lee|
|                1984|George owell|
|           the books|        john|
|            The Ride|      joseph|
+--------------------+------------+

In [36]:
# Exercise # 2
orwell_books_df =all_books_df.filter(all_books_df['Author'] == 'john')
orwell_books_df.show()

+---------+------+
|    Title|Author|
+---------+------+
|the books|  john|
+---------+------+

In [37]:
# Exercise # 3
sorted_books_df = all_books_df.sort(all_books_df['Title'])
sorted_books_df.show()

+--------------------+------------+
|               Title|      Author|
+--------------------+------------+
|                1984|George owell|
|            The Ride|      joseph|
|To Kill a Mocking...|  Harper lee|
|           the books|        john|
+--------------------+------------+

In [38]:
from pyspark.sql.types import BooleanType
# Data of students and whether they have submitted the assignment
student_data = [('Alice', True), ('Bob', False), ('Catherine', True), ('David',True)]
# Defining the schema
student_schema = StructType([
StructField('Name', StringType(), True),
StructField('Assignment_Submitted', BooleanType(), True)
])
# Creating a DataFrame
student_df = spark.createDataFrame(student_data, schema=student_schema)
# Displaying the DataFrame
student_df.show()

+---------+--------------------+
|     Name|Assignment_Submitted|
+---------+--------------------+
|    Alice|                true|
|      Bob|               false|
|Catherine|                true|
|    David|                true|
+---------+--------------------+

In [39]:
# Exercise # 1
more_students_data = [('Eva',True),('Frank',False),('Ali',True),('Usman',True)]

# Adding to DataFrame
more_students_df =spark.createDataFrame(more_students_data,schema=student_schema)
all_students_df =student_df.union(more_students_df)

all_students_df.show()

+---------+--------------------+
|     Name|Assignment_Submitted|
+---------+--------------------+
|    Alice|                true|
|      Bob|               false|
|Catherine|                true|
|    David|                true|
|      Eva|                true|
|    Frank|               false|
|      Ali|                true|
|    Usman|                true|
+---------+--------------------+

In [40]:
# Exercise # 2
submitted_students_df = all_students_df.filter(all_students_df['Assignment_Submitted'])
submitted_students_df.show()

+---------+--------------------+
|     Name|Assignment_Submitted|
+---------+--------------------+
|    Alice|                true|
|Catherine|                true|
|    David|                true|
|      Eva|                true|
|      Ali|                true|
|    Usman|                true|
+---------+--------------------+

In [41]:
# Exercise # 3
sorted_student_df = all_students_df.sort(all_students_df['Name'])
sorted_student_df.show()

+---------+--------------------+
|     Name|Assignment_Submitted|
+---------+--------------------+
|      Ali|                true|
|    Alice|                true|
|      Bob|               false|
|Catherine|                true|
|    David|                true|
|      Eva|                true|
|    Frank|               false|
|    Usman|                true|
+---------+--------------------+

In [42]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType

# Example 1: Creating DataFrame

fruit_data = [('Apple', 1.2), ('Banana', 0.5), ('Cherry', 3.5), ('Mango', 5.0)]  # Change 5 to 5.0

# Defining Schema
fruit_schema = StructType([
    StructField('Fruit', StringType(), True),
    StructField('Price', FloatType(), True)
])

fruit_df = spark.createDataFrame(fruit_data, schema=fruit_schema)
fruit_df.show()

+------+-----+
| Fruit|Price|
+------+-----+
| Apple|  1.2|
|Banana|  0.5|
|Cherry|  3.5|
| Mango|  5.0|
+------+-----+

In [43]:
from pyspark.sql.functions import lit

# Adding Columns to Dataframe
fruit_with_quality_df = fruit_df.withColumn('Quality', lit(10))
fruit_with_quality_df.show()

+------+-----+-------+
| Fruit|Price|Quality|
+------+-----+-------+
| Apple|  1.2|     10|
|Banana|  0.5|     10|
|Cherry|  3.5|     10|
| Mango|  5.0|     10|
+------+-----+-------+

In [44]:
# Filtered Dat in dataframe
expensive_fruits_df = fruit_df.filter(fruit_df['price']>1)
expensive_fruits_df.show()

+------+-----+
| Fruit|Price|
+------+-----+
| Apple|  1.2|
|Cherry|  3.5|
| Mango|  5.0|
+------+-----+

In [45]:
# Example 1: Removing Duplicates
duplicate_data = [('Alice',33),('Bob',45),('Charlie',25),('Alice',33),('Charlie',25)]
duplicate_schema=StructType([
    StructField('Name',StringType(),True),
    StructField('Age',IntegerType(),True)
])

duplicates_df = spark.createDataFrame(duplicate_data, schema=duplicate_schema)
unique_df = duplicates_df.dropDuplicates()

unique_df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 33|
|    Bob| 45|
|Charlie| 25|
+-------+---+

In [46]:
# Example 2: Handling Missing Values
# Creating a DataFrame with missing values
missing_data = [('Alice', None), ('Bob', 45), ('Catherine', None), ('Dave',53)]
missing_schema = StructType([
StructField('Name', StringType(), True),
StructField('Age', IntegerType(), True)
])
missing_df = spark.createDataFrame(missing_data, schema=missing_schema)
# Filling missing values with a default value
filled_df = missing_df.na.fill(30)
# Displaying the DataFrame with missing values filled
filled_df.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 30|
|      Bob| 45|
|Catherine| 30|
|     Dave| 53|
+---------+---+

In [49]:
from pyspark.sql.types import IntegerType  # Import IntegerType


# Converting the 'Age' column to IntegerType
converted_df = filled_df.withColumn('Age', filled_df['Age'].cast(IntegerType()))  # Pass IntegerType as a string
# Displaying the DataFrame with converted data types
converted_df.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 30|
|      Bob| 45|
|Catherine| 30|
|     Dave| 53|
+---------+---+

In [50]:
# Example 1: Removing Duplicates
# Creating a DataFrame with duplicate rows
duplicate_data = [('Alice', 34), ('Bob', 45), ('Catherine', 29), ('Alice', 34)]
duplicate_schema = StructType([
StructField('Name', StringType(), True),
StructField('Age', IntegerType(), True)
])
duplicate_df = spark.createDataFrame(duplicate_data, schema=duplicate_schema)
# Removing duplicate rows
unique_df = duplicate_df.dropDuplicates()
# Displaying the DataFrame without duplicates
unique_df.show()

+---------+---+
|     Name|Age|
+---------+---+
|      Bob| 45|
|    Alice| 34|
|Catherine| 29|
+---------+---+

In [51]:
# Example 2: Filling Missing Values
# Creating a DataFrame with missing values (None)
missing_data = [('Alice', None), ('Bob', 45), ('Catherine', None), ('Dave',54)]
missing_schema = StructType([
StructField('Name', StringType(), True),
StructField('Age', IntegerType(), True)
])
missing_df = spark.createDataFrame(missing_data, schema=missing_schema)
# Filling missing values with a default age of 25
filled_df = missing_df.fillna(25, subset=['Age'])
# Displaying the DataFrame with missing values filled
filled_df.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 25|
|      Bob| 45|
|Catherine| 25|
|     Dave| 54|
+---------+---+

In [52]:
# Example 3: Dropping Columns
# Creating a DataFrame with an extra column
extra_data = [('Alice', 34, 'F'), ('Bob', 45, 'M'), ('Catherine', 29, 'F')]
extra_schema = StructType([
StructField('Name', StringType(), True),
StructField('Age', IntegerType(), True),
StructField('Gender', StringType(), True)
])
extra_df = spark.createDataFrame(extra_data, schema=extra_schema)
# Dropping the 'Gender' column
reduced_df = extra_df.drop('Gender')
# Displaying the DataFrame without the 'Gender' column
reduced_df.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 34|
|      Bob| 45|
|Catherine| 29|
+---------+---+

In [53]:
# Example 1: Descriptive Statistics
# Using the DataFrame from the previous example
# Calculating descriptive statistics for the 'Age' column
age_stats = reduced_df.describe('Age')
# Displaying the descriptive statistics
age_stats.show()

+-------+----------------+
|summary|             Age|
+-------+----------------+
|  count|               3|
|   mean|            36.0|
| stddev|8.18535277187245|
|    min|              29|
|    max|              45|
+-------+----------------+

In [54]:
# Example 2: Counting By Group
# Creating a DataFrame with categories
category_data = [('Fruit', 'Apple'), ('Fruit', 'Banana'), ('Vegetable', 'Carrot')]
category_schema = StructType([
StructField('Type', StringType(), True),
StructField('Name', StringType(), True)
])
category_df = spark.createDataFrame(category_data, schema=category_schema)
# Counting the number of occurrences for each 'Type'
group_count = category_df.groupBy('Type').count()
# Displaying the count by group
group_count.show()

+---------+-----+
|     Type|count|
+---------+-----+
|    Fruit|    2|
|Vegetable|    1|
+---------+-----+

In [55]:
# Example 3: Filtering Data
# Using the DataFrame from the previous example
# Filtering to get only the rows where 'Type' is 'Fruit'
fruit_df = category_df.filter(category_df.Type == 'Fruit')
fruit_df.show()

+-----+------+
| Type|  Name|
+-----+------+
|Fruit| Apple|
|Fruit|Banana|
+-----+------+

In [58]:
new_column_df = fruit_df.withColumn('Category', lit('Food'))
# Displaying the DataFrame with the new column
new_column_df.show()

+-----+------+--------+
| Type|  Name|Category|
+-----+------+--------+
|Fruit| Apple|    Food|
|Fruit|Banana|    Food|
+-----+------+--------+

In [60]:
# Example # 2
renamed_df = new_column_df.withColumnRenamed('Name','Fruit_Name')
renamed_df.show()

+-----+----------+--------+
| Type|Fruit_Name|Category|
+-----+----------+--------+
|Fruit|     Apple|    Food|
|Fruit|    Banana|    Food|
+-----+----------+--------+

In [63]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Assuming you already have a SparkSession named 'spark' and a DataFrame named 'reduced_df'
with_new_column_df = reduced_df.withColumn('IsAdult', col('Age') >= 18)
with_new_column_df.show()

+---------+---+-------+
|     Name|Age|IsAdult|
+---------+---+-------+
|    Alice| 34|   true|
|      Bob| 45|   true|
|Catherine| 29|   true|
+---------+---+-------+

In [64]:
renamed_df = reduced_df.withColumnRenamed('Age','Years')
renamed_df.show()

+---------+-----+
|     Name|Years|
+---------+-----+
|    Alice|   34|
|      Bob|   45|
|Catherine|   29|
+---------+-----+

In [67]:
filtered_df = renamed_df.filter(col('Age') >=30)
filtered_df.show()

+-----+-----+
| Name|Years|
+-----+-----+
|Alice|   34|
|  Bob|   45|
+-----+-----+

In [71]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

# Assuming you already have a SparkSession named 'spark' and a DataFrame named 'reduced_df'
average_age = reduced_df.agg(avg('Age').alias('Average_Age'))
average_age.show()

+-----------+
|Average_Age|
+-----------+
|       36.0|
+-----------+

In [72]:
adult_count = reduced_df.filter(col('Age') >=18).count()
adult_count

3

In [78]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import max

# Assuming you already have a SparkSession named 'spark' and a DataFrame named 'reduced_df'
oldest_person = reduced_df.agg(max('Age').alias('oldest_person')).collect()
oldest_person

[Row(oldest_person=45)]

In [79]:
# Creating two DataFrames
df1 = spark.createDataFrame([(1, 'Apple'), (2, 'Banana'), (3, 'Cherry')], ['ID', 'Fruit'])
df2 = spark.createDataFrame([(1, 'Red'), (2, 'Yellow'), (4, 'Green')], ['ID', 'Color'])

# Performing an inner join on the 'ID' column
inner_joined_df = df1.join(df2, 'ID', 'inner')

# Displaying the result of the inner join
inner_joined_df.show()

+---+------+------+
| ID| Fruit| Color|
+---+------+------+
|  1| Apple|   Red|
|  2|Banana|Yellow|
+---+------+------+

In [80]:
left_joined = df1.join(df2,'ID','left')
left_joined.show()

+---+------+------+
| ID| Fruit| Color|
+---+------+------+
|  1| Apple|   Red|
|  3|Cherry|  NULL|
|  2|Banana|Yellow|
+---+------+------+

In [81]:
# Example # 1 inner join
df1 = spark.createDataFrame([(1, 'Apple'), (2, 'Banana'), (3, 'Cherry')], ['ID', 'Fruit'])
df2 = spark.createDataFrame([(1, 'Red'), (2, 'Yellow'), (4, 'Green')], ['ID', 'Color'])

# Performing an inner join on the 'ID' column
inner_joined_df = df1.join(df2, 'ID', 'inner')

# Displaying the result of the inner join
inner_joined_df.show()

+---+------+------+
| ID| Fruit| Color|
+---+------+------+
|  1| Apple|   Red|
|  2|Banana|Yellow|
+---+------+------+

In [82]:
# Example # 2 left join
left_joined_df = df1.join(df2,'ID','left')
left_joined_df.show()

+---+------+------+
| ID| Fruit| Color|
+---+------+------+
|  1| Apple|   Red|
|  3|Cherry|  NULL|
|  2|Banana|Yellow|
+---+------+------+

In [83]:
# Example # 3 Full outer join
full_outer_join_df = df1.join(df2,'ID','Outer')
full_outer_join_df.show()

+---+------+------+
| ID| Fruit| Color|
+---+------+------+
|  1| Apple|   Red|
|  2|Banana|Yellow|
|  3|Cherry|  NULL|
|  4|  NULL| Green|
+---+------+------+

In [85]:
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql import functions as F

# Create a SparkSession
spark = SparkSession.builder.appName("RankingExample").getOrCreate()

# Creating a DataFrame
salary_df = spark.createDataFrame([(1, 'Alice', 50000), (2, 'Bob', 60000), (3, 'Charlie', 55000)],
                                  ['ID', 'Name', 'Salary'])

# Defining a window specification
windowSpec = Window.orderBy('Salary')

# Applying the rank function over the window
ranked_df = salary_df.withColumn('Rank', F.rank().over(windowSpec))

# Displaying the ranked DataFrame
ranked_df.show()

+---+-------+------+----+
| ID|   Name|Salary|Rank|
+---+-------+------+----+
|  1|  Alice| 50000|   1|
|  3|Charlie| 55000|   2|
|  2|    Bob| 60000|   3|
+---+-------+------+----+

In [86]:
# Creating a DataFrame
salary_df = spark.createDataFrame([(1, 'Alice', 50000),
                                   (2, 'Bob', 60000),
                                   (3, 'Charlie', 55000)],
                                  ['ID', 'Name', 'Salary'])

# Defining a window specification with no ordering to consider all rows
windowSpec = Window.rowsBetween(Window.unboundedPreceding, Window.currentRow)

# Calculating the max and min salary in each row's window
max_salary = F.max('Salary').over(windowSpec)
min_salary = F.min('Salary').over(windowSpec)

# Calculating the difference between max and min salary
salary_difference_df = salary_df.withColumn('Salary_Difference', max_salary - min_salary)

# Displaying the DataFrame with salary difference
salary_difference_df.show()

+---+-------+------+-----------------+
| ID|   Name|Salary|Salary_Difference|
+---+-------+------+-----------------+
|  1|  Alice| 50000|                0|
|  2|    Bob| 60000|            10000|
|  3|Charlie| 55000|            10000|
+---+-------+------+-----------------+

In [88]:
null_df = spark.createDataFrame([(1, 'Apple', None), (2, None, 'Red'), (3, 'Banana', 'Yellow')],
                                 ['ID', 'Fruit', 'Color'])

# Dropping rows with any null values
dropped_df = null_df.na.drop()

# Displaying the DataFrame after dropping nulls
dropped_df.show()

+---+------+------+
| ID| Fruit| Color|
+---+------+------+
|  3|Banana|Yellow|
+---+------+------+

In [89]:
filed_df = null_df.na.fill({'Fruit':'Unknown','Color':'NA'})
filled_df.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 25|
|      Bob| 45|
|Catherine| 25|
|     Dave| 54|
+---------+---+

In [90]:
replace_df = spark.createDataFrame([(1, 'Apple', 'Unknown'), (2, 'Unknown', 'NA'), (3, 'Banana', 'Yellow')],
                                   ['ID', 'Fruit', 'Color'])

# Replacing 'Unknown' in the 'Fruit' column with 'Not Specified' and 'NA' in the 'Color' column with 'Not Available'
replaced_df = replace_df.na.replace(['Unknown', 'NA'], ['Not Specified', 'Not Available'], subset=['Fruit', 'Color'])

# Displaying the DataFrame after replacing values
replaced_df.show()

+---+-------------+-------------+
| ID|        Fruit|        Color|
+---+-------------+-------------+
|  1|        Apple|Not Specified|
|  2|Not Specified|Not Available|
|  3|       Banana|       Yellow|
+---+-------------+-------------+

In [91]:
# Creating a DataFrame
fruit_df = spark.createDataFrame([(1, 'Apple'), (2, 'Banana'), (3, 'Cherry')],
                                 ['ID', 'Fruit'])

# Registering the DataFrame as a SQL temporary table
fruit_df.createOrReplaceTempView('Fruits')

# Running a SQL query to select all rows from the table
result_df = spark.sql('SELECT * FROM Fruits')

# Displaying the result of the SQL query
result_df.show()

+---+------+
| ID| Fruit|
+---+------+
|  1| Apple|
|  2|Banana|
|  3|Cherry|
+---+------+

In [92]:
result_df = spark.sql('SELECT * FROM Fruits WHERE ID > 1')
result_df.show()

+---+------+
| ID| Fruit|
+---+------+
|  2|Banana|
|  3|Cherry|
+---+------+

In [94]:
# Example 1: Linear Regression with PySpark MLlib
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
# Creating a DataFrame with two columns: features and label
data = [(1.0, 3.0), (2.0, 2.0), (3.0, 1.0)]
df = spark.createDataFrame(data, ['feature', 'label'])
# Converting feature column to vector type
vec_assembler = VectorAssembler(inputCols=['feature'], outputCol='features')
df = vec_assembler.transform(df)
# Initializing Linear Regression model
lr = LinearRegression(featuresCol='features', labelCol='label')
# Fitting the model
lr_model = lr.fit(df)
# Displaying the coefficients and intercept
print('Coefficients:', lr_model.coefficients)
print('Intercept:', lr_model.intercept)

Coefficients: [-1.0000000000000027]
Intercept: 4.000000000000005

In [96]:
from  pyspark.ml.classification import LogisticRegression
# Creating a DataFrame with two columns: features and label
data = [(0.0, 0.0), (1.0, 1.0), (2.0, 1.0), (3.0, 0.0)]
df = spark.createDataFrame(data, ['feature', 'label'])
# Converting feature column to vector type
vec_assembler = VectorAssembler(inputCols=['feature'], outputCol='features')
df = vec_assembler.transform(df)
# Initializing Logistic Regression model
logr = LogisticRegression(featuresCol='features', labelCol='label')
# Fitting the model
logr_model = logr.fit(df)
# Displaying the coefficients and intercept
print('Coefficients:', logr_model.coefficients)
print('Intercept:', logr_model.intercept)

Coefficients: [0.0]
Intercept: 0.0

In [97]:
# Example 3: Clustering with K-means in PySpark MLlib
from pyspark.ml.clustering import KMeans
# Creating a DataFrame with a single column: features
data = [(0.0,), (1.0,), (9.0,), (10.0,)]
df = spark.createDataFrame(data, ['feature'])
# Converting feature column to vector type
vec_assembler = VectorAssembler(inputCols=['feature'], outputCol='features')
df = vec_assembler.transform(df)
# Initializing K-means model
kmeans = KMeans().setK(2).setSeed(1)
# Fitting the model
kmeans_model = kmeans.fit(df)
# Getting the cluster centers
centers = kmeans_model.clusterCenters()
# Displaying the cluster centers
print('Cluster Centers:', centers)

Cluster Centers: [array([0.5]), array([9.5])]

In [98]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

# Create a SparkSession
spark = SparkSession.builder.appName("KMeansExample").getOrCreate()

# Creating a DataFrame with a single column: features
data = [(0.0,), (1.0,), (9.0,), (10.0,)]
df = spark.createDataFrame(data, ['feature'])

# Converting feature column to vector type
vec_assembler = VectorAssembler(inputCols=['feature'], outputCol='features')
df = vec_assembler.transform(df)

# Initializing K-means model with 2 clusters and seed 1
kmeans = KMeans().setK(2).setSeed(1)

# Fitting the model
kmeans_model = kmeans.fit(df)

# Getting the cluster centers
centers = kmeans_model.clusterCenters()

# Displaying the cluster centers
print('Cluster Centers:', centers)

Cluster Centers: [array([0.5]), array([9.5])]

In [99]:
df = spark.createDataFrame([(1, 'Apple'), (2, 'Banana'), (3, 'Cherry')], ['ID', 'Fruit'])

# Caching the DataFrame
df.cache()

# Performing some operations to materialize the cache
df.count()

# Repeated operation
df.show()

+---+------+
| ID| Fruit|
+---+------+
|  1| Apple|
|  2|Banana|
|  3|Cherry|
+---+------+

In [100]:
# Example 3: Clustering with K-means in PySpark MLlib
from pyspark.ml.clustering import KMeans
# Creating a DataFrame with a single column: features
data = [(0.0,), (1.0,), (9.0,), (10.0,)]
df = spark.createDataFrame(data, ['feature'])
# Converting feature column to vector type
vec_assembler = VectorAssembler(inputCols=['feature'], outputCol='features')
df = vec_assembler.transform(df)
# Initializing K-means model with 2 clusters
kmeans = KMeans().setK(2).setSeed(1)
# Fitting the model
kmeans_model = kmeans.fit(df)
# Getting the cluster centers
centers = kmeans_model.clusterCenters()
# Displaying the cluster centers
print('Cluster Centers:', centers)

Cluster Centers: [array([0.5]), array([9.5])]

In [101]:
from pyspark.sql.functions import broadcast

# Creating two DataFrames
df1 = spark.createDataFrame([(1, 'Apple'), (2, 'Banana'), (3, 'Cherry')], ['ID', 'Fruit'])
df2 = spark.createDataFrame([(1, 'Red'), (2, 'Yellow'), (3, 'Red')], ['ID', 'Color'])

# Performing a join using broadcast variables
joined_df = df1.join(broadcast(df2), 'ID')

# Displaying the joined DataFrame
joined_df.show()

+---+------+------+
| ID| Fruit| Color|
+---+------+------+
|  1| Apple|   Red|
|  2|Banana|Yellow|
|  3|Cherry|   Red|
+---+------+------+